<link rel='stylesheet' href='/stylesheets/inicioStyle.css' />
<body>
  <div class="grid-layout">
    <div class="box-header">
      <h1>Cambia tu auto en OACC Autos</h1>
    </div>
    <div class="box-text">
      <p>Vehículos de alto rendimiento con una histórica herencia deportiva,
         estilo asertivo y la promesa de una experiencia de manejo única. 
      </p>
    </div>
    <div class="box-img">
      <img src="/images/Mercedes-AMG-One.png" alt="One" height="252px" width="567px" style="aling-item:center"><br>
    </div>
    <div class="box-marcas">
      <img src="/images/mercedes.png" alt="mercedes" height="102px" width="102px" >
      <img src="/images/audi.png" alt="audi" height="81px" width="133">
      <img src="/images/bmw.png" alt="bmw" height="115px" width="115px">
      <img src="/images/honda.png" alt="honda" height="125px" width="125px">
      <img src="/images/vw.png" alt="vw" height="106px" width="107px">

    </div>
  </div>
</body>
