<!DOCTYPE html>
<html>
<head>
    <title>Nosotros</title>
    <link rel="stylesheet" href="estilos.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="titulo">NOSOTROS</h1>
    </header>
    <section class="container">
        <article class="post">
            <h2>¿QUIÉNES SOMOS?</h2>
            <p>Somos un sitio un sitio de internet que busca atraer a todas las personas interesadas en comprar o
                vender automóviles, motocicletas, camiones o cualquier tipo de vehículo, ofreciendo una cartera de
                servicios que constantemente se expande y diversifca.   
            </p>
            <img src="consa.jpg" width="400" />
            <p2>Tenemos como objetivo empoderar a nuestros clientes y darles herramientas de contenido
                que generen mayor confianza a la hora de intercambiar autos a traves de interet.
            </p2>
        </article>
       
    </section>
    <footer>
        <section>
        <a href="#titulo">Ir al comienzo</a>
        </section>
        <p>Copyright 2021</p>
    </footer>
</body>
</html>