<link rel='stylesheet' href='/stylesheets/sedeStyle.css' />

<body>
  <header>
    <h1>Sucursales</h1>
  </header>
  <div class="grid-layout">
    <div class="box-info">
      <p>info de sede</p>
    </div>
    <div class="box-info">
      <p>b</p>
    </div>
    <div class="box-info">
      <p>c</p>
    </div>
    <div class="box-info">
      <p>c</p>
    </div>
    <div class="box-info">
      <p>c</p>
    </div>
    <div class="box-info">
      <p>c</p>
    </div>
    <div class="box-info">
      <p>c</p>
    </div>
    <div class="box-info">
      <p>c</p>
    </div>

  </div>

</body>
