body{
  font-family: 'Kanit', sans-serif;
}
h4{
  text-align: center;
  color: white;
}

.card-body{

  border-radius: 10px;
  background: #293462;
  color: white;
}

.col-md-3{
  padding-top: 2%;
  border-radius: 10px;

}
