html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: lightgray;
    font-size: large ;
}

header{
    background-color: lightblue;
    color: white;
    padding: 3rem 2rem;
    border-radius: 10px;

}

h1{
    font-size: ;
    text-align: center;
    font-weight: bold;
    margin-top:5px;
}


.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  grid-column-gap: 18px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background:#293462;
  margin-top:2%;
  margin-bottom:2%;
  padding: 4%;
}

.t1{

}
.t1 p{
  padding-top: 15px;
  text-align: justify;
  margin-right: 10%;
  color: white;
}
.t1 h2{
  color:white;
  font-weight: bold;
  text-align: center;
  margin-right:10%;
}


footer{
    background:#293462;
    padding: 3rem;
    color: white;
    border-radius: 10px;

}

footer section{
    float: right;

}

footer p{
    margin: 0;
    font-size: large;

}

footer a{
    color: white;
    text-decoration: none;

}

footer a hover{
    color: cornflowerblue;
}
.images{

    grid-column: 2/4;
}

.images img{
  margin-top: 15%;
  border-radius: 10px;
}

article p2{
    text-align: center;
}
